<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, html: {class: "form-signin"}) do |f| %>
<h3 class='text-center'>Forgot password?</h2>
  <%= f.error_notification %>
    <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "Email", input_html: {class: "form-control"} %>
    <%= f.button :submit, "Reset Password", class: 'button small expand' %>
    <%= render "devise/shared/links" %>
<% end %>
